<ion-header>
  <ion-toolbar class="verde">
    <ion-title>Página No Encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/images/e404.svg"></ion-img>

  <ion-button class="ion-margin-top verde" expand="block" (click)="regresar()">
  <ion-icon name="home" slot="start"></ion-icon>Regresar</ion-button>

</ion-content>
