<ion-header [translucent]="true">
  <ion-toolbar class="color-body">
    <ion-title class="color-title">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu contentId="main-content" *ngFor="let x of user_ini">
    <ion-header>
      <ion-toolbar>
        <ion-title><ion-icon name="person-circle-outline"></ion-icon> {{ x.NOMBRE }} {{ x.APELLIDO }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Menú
      <br>
      <ion-button class="color-button" expand="block" (click)="modificar()">
      <ion-icon name="home" slot="start"></ion-icon>
        Modificar contraseña
      </ion-button>
      <br>
      <ion-button class="color-button" expand="block" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
           Volver al Login 
        </ion-button>
      
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-text-center" id="background-image">
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/images/loading.jpg" />
        <ion-card-header>
          <ion-card-title>Cargando....</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-content>
    <ion-button (click)="leerQR()" expand="block">Abrir Camara</ion-button>
  </div>
</ion-content>

