<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button >
    </ion-buttons>
    <ion-title>Cambio de contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/images/Password_Outline.svg"></ion-img>
  <ion-item>
    <ion-label position="floating" >Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="mdl_email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Contraseña nueva</ion-label>
    <ion-input [(ngModel)]="mdl_newcontra"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Ingrese contraseña antigua</ion-label>
    <ion-input [(ngModel)]="mdl_oldcontra"></ion-input>
  </ion-item>
  <br>
  <ion-button color="primary" expand="full" (click)="modificar()">Cambiar </ion-button>
</ion-content>