<ion-header>
  <ion-toolbar class="verde">
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/images/join.svg"></ion-img>

  <!-- <ion-button>Enviar</ion-button>
  <ion-button color="success">Danger</ion-button> -->

  <ion-item class="ion-margin-top">
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="mdl_mail"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="mdl_password"></ion-input>
  </ion-item>
  <br>
  <ion-button (click)="login()" expand="block" class="degradado">
    <ion-icon name="person-outline" slot="start"></ion-icon>Ingresar</ion-button>
  <br>
  <ion-button (click)="registration()" expand="block">
    <ion-icon name="person-outline" slot="danger"></ion-icon>Registrar</ion-button>
  
</ion-content>