<ion-header>
  <ion-toolbar class="color-body">
    <ion-title class="color-title">RegistrAPP</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
    <ion-card-header>
      <ion-card-title>Crear Usuario</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label position="floating"><ion-icon name="person-outline"></ion-icon> Nombre</ion-label>
      <ion-input [(ngModel)]="mdl_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-icon name="person-outline"></ion-icon> Apellido</ion-label>
      <ion-input [(ngModel)]="mdl_lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-icon name="mail-outline" position="floating"></ion-icon> Correo </ion-label>
      <ion-input type="email"  [(ngModel)]="mdl_email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-icon name="bag-outline"></ion-icon> Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="mdl_pass"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="usuarioAlmacenar()" expand="block">Registrar</ion-button>
</ion-content>

