<ion-header>
  <ion-toolbar class="degradado">
    <ion-back-button defaultHref="home"></ion-back-button>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding">
    <ion-label class="titulo">Registro de nuevo Usuario</ion-label>
  </div>
  <ion-img src="assets/images/registrstion.png"></ion-img>

  <ion-item>
    <ion-label position="floating" >Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="mdl_mail" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Contraseña</ion-label>
    <ion-input [(ngModel)]="mdl_password" type="password" minlength="1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Nombre</ion-label>
    <ion-input [(ngModel)]="mdl_name" minlength="1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Apellido</ion-label>
    <ion-input [(ngModel)]="mdl_lastname" minlength="1"></ion-input>
  </ion-item>

  <ion-button class="degradado"  expand="block" (click)="register()">Registrar</ion-button>
  <hr>
  <!--<ion-button (click)="getout()" expand="block" ion-button color="danger">Regresar</ion-button> -->

</ion-content>
