<ion-header [translucent]="true">
  <ion-toolbar class="color-body">
    <ion-title class="color-title">RegistrApp</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" (click)="volverPrincipal()" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<br>
<br>
<ion-content [fullscreen]="true">

  <ion-img src="assets/images/QR.jpg"></ion-img>
<br>
<br>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button (click)="volverPrincipal()" expand="full">Volver</ion-button>
    <ion-label class="titulo">{{ texto }}</ion-label>
  </div>
</ion-content>